<div>
  <h1 class="bg-dark p-5 text-center text-white">Tech Blog</h1>
</div>


<div class="col-md-9 py-1 mx-auto">
  <div class="card h-100 shadow">
    <h2 class="card-header bg-dark">{{post.title}}</h2>
    <div class="card-body border-bottom border-dark border-2">
      <p>{{post.content}}</p>
      <div class="mb-0 d-flex justify-content-between">
        <p class="mb-0">- {{post.user.name}}</p>
        <p class="mb-0">{{format_date post.date}}</p>
      </div>
    </div>

    {{#each comments as |comment|}}
      <div class="card-body border-bottom border-dark border-2">
        <div class="border-start border-3">
          <p class="ms-5">{{comment.content}}</p>
          <div class="mb-0 d-flex justify-content-between">
            <p class="ms-5 mb-0">- {{comment.user.name}}</p>
            <p class="ms-5 mb-0">{{format_date comment.date}}</p>
          </div>
        </div>
      </div>
    {{/each}}
  </div> 
</div>
  
{{#if logged_in}}
  <div class="card col-md-9 mx-auto text-center">
  <div class='card-body'>
    <form id='create-comment' data-id="{{post.id}}">
      <div class='mb-3'>
        <label for='content' class='form-label'>Comment</label>
        <textarea class='form-control' id='comment-content' rows='3'></textarea>
      </div>
      <div class='d-grid gap-2'>
        <button type='submit' class='btn btn-primary'>Create</button>
      </div>
    </form>
  </div>
{{else}}
<div class="text-center mb-1">
  <a class="btn btn-primary" href="/login">Log in to Comment!</a>
</div>
{{/if}}

<script src="/js/create-comment.js"></script>